---
import Spring from "./icons/Spring.astro"
import Docker from "./icons/Docker.astro"
import PostgreSQL from "./icons/PostgreSQL.astro"
import Swagger from "./icons/Swagger.astro"
import Maven from "./icons/Maven.astro"
import MySQL from "./icons/MySQL.astro"

const TAGS = {
  SPRING: {
    name: "Spring",
    class: "bg-black text-white",
    icon: Spring
  },
  DOCKER: {
    name: "Docker",
    class: "bg-[#2496ed] text-white",
    icon: Docker,
  },
  POSTGRESQL: {
    name: "PostgreSQL",
    class: "bg-[#C0C0C0] text-[#404040]",
    icon: PostgreSQL,
  },
  SWAGGER: {
    name: "Swagger",
    class: "bg-[#333333] text-white",
    icon: Swagger
  },
  MAVEN: {
    name: "Maven",
    class: "bg-[#2E8B57] text-white",
    icon: Maven
  },
  MYSQL: {
    name: "MySQL",
    class: "bg-[#CCCCCC] text-[#333333]",
    icon: MySQL
  }
}
const PROJECTS = [
  {
    title: "Bank App",
    description:
      "Secure microservices project with Spring Boot and Spring Cloud. Includes advanced security (OAuth2, JWT) and Docker orchestration. offers a solid foundation in modern microservices-based application development.",
    github: "https://github.com/Paul10FC/bank-application",
    tags: [TAGS.SPRING, TAGS.DOCKER, TAGS.POSTGRESQL, TAGS.SWAGGER, TAGS.MAVEN],
  },
  {
    title: "Pizza App",
    description:
      "Complete backend configuration for the comprehensive management of a pizza warehouse, covering key aspects such as customer administration, billing, personalized filters by type of pizza and dynamic promotions. Developed roles, permissions and authentication systems using JWT to ensure strong layers of security. Implementing Docker for the final integration enabled a flexible and scalable infrastructure for the project. Technologies used: MySQL, Hibernate, JWT, Postman, Spring Data JPA, Spring, Spring Security, Spring Boot, Java, Loombook, JPQL, Swagger, JUnit and Docker.",
    github: "https://github.com/Paul10FC/platzi-pizzeria",
    tags: [TAGS.SPRING, TAGS.MYSQL, TAGS.DOCKER, TAGS.SWAGGER]
  },  
  {
    title: "Supermarket App",
    description:
      "Development of a comprehensive API for the efficient management of a supermarket, using Java Spring with solid integration to a PostgreSQL database. The project included the design, deployment and supervision of services for product management, culminating in a successful launch of the application to ensure a seamless consumer experience. Tools used: Spring Framework, Spring Boot, Spring Data JPA, Data Mapper, Spring MVC, Swagger and JUnit.",
    github: "https://github.com/Paul10FC/platzi-market",
    tags: [TAGS.SPRING, TAGS.POSTGRESQL, TAGS.SWAGGER]
  }
]
---

{
  PROJECTS.map(({ title, description, github, tags }) => (
    <article>
      <a href={github} target="_blank" rel="noopener">
        <h3 class="text-2xl font-semibold text-yellow-800 dark:text-yellow-200 mb-2">
          {title}
        </h3>
      </a>
      <p class="text-lg mb-4 text-pretty">{description}</p>
      <ul class="flex gap-x-2 flex-row mb-2">
        {tags?.map((tag) => (
          <li>
            <span
              class={`flex gap-x-2 rounded-full text-xs ${tag.class} py-1 px-2 border border-white/10`}
            >
              <tag.icon class="size-4" />
              {tag.name}
            </span>
          </li>
        ))}
      </ul>
    </article>
  ))
}
